﻿@model IEnumerable<PhimViewModel>
@inject ITheLoaiServices theLoaiServices;
@{
    ViewData["Title"] = "The loai Phim - CGV";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var theLoaiList = (await theLoaiServices.GetAllAsync(StaticDetails.TheLoaiAPIPath + "GetAll")).ToList();
}

@{
    var listTheLoaiTimKiem = TempData["listTheLoai"] as List<int>;
    var theLoais = TempData["StringTheLoai"] as string;
    int maTheLoai = ViewBag.maTheLoai;
    //if(tg != null)
    //{
    //    maTheLoai = int.Parse(tg);
    //}
    var nextPage = (int)ViewBag.Page + 1;
    var prevPage = (int)ViewBag.Page - 1 < 0 ? 1 : (int)ViewBag.Page - 1;
    var disableNext = Model.ToList().Count() < 9 ? "disable" : "";

    var disablePrev = (int)ViewBag.Page == 9 ? "disable" : "";

}

@*<!-- ==========Movie-Section========== -->
    <section class="movie-section padding-top padding-bottom">
    <div class="container">
    <div class="row flex-wrap-reverse justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-3">
    <div class="widget-1 widget-check">
    <div class="widget-header">
    <h5 class="m-title">Tìm kiếm</h5> <a href="#0" class="clear-check">Clear All</a>
    </div>
    <div class="widget-1-body">
    <h6 class="subtitle">Thể loại</h6>
    <form asp-action="TheLoaiPhim">
    <input id="theLoais" name="theLoais" class="form-control" style="visibility: hidden" required/>
    <div class="check-area">
    @foreach(var item in @theLoaiList)
    {
    if(listTheLoaiTimKiem != null && listTheLoaiTimKiem.Contains(item.TheLoaiId) || @maTheLoai == item.TheLoaiId )
    {
    <div class="form-group">
    <input type="checkbox" name="theloaiphim" value="@item.TheLoaiId" checked="true"><label for="theloaiphim">@item.TenTheLoai</label>
    </div>
    }
    else
    {
    <div class="form-group">
    <input type="checkbox" name="theloaiphim" value="@item.TheLoaiId"><label for="theloaiphim">@item.TenTheLoai</label>
    </div>
    }

    }
    <input type="submit" value ="Tìm kiếm" onclick="Test()"/>
    </div>
    </form>
    </div>
    </div>

    </div>
    <div class="col-lg-9 mb-50 mb-lg-0">
    <div class="filter-tab tab">
    <div class="filter-area">
    <div class="filter-main">
    <div class="left">
    <div class="item">
    <span class="show">Hiển thị :</span>
    <select class="select-bar">
    <option asp-route-rowPerPage="10">5</option>
    <option asp-route-rowPerPage="20">10</option>
    <option asp-route-rowPerPage="30">15</option>
    <option asp-route-rowPerPage="40">20</option>


    </select>
    </div>
    <div class="item">
    <span class="show">Sắp xếp theo :</span>
    <select class="select-bar">
    <option asp-route-loai="showing">Đang chiếu</option>
    <option asp-route-loai="exclusive">Sắp chiếu</option>
    <option asp-route-loai="trending">Rate</option>
    <option asp-route-loai="mostview">Xem nhiều nhất</option>
    </select>
    </div>
    </div>
    <ul class="grid-button tab-menu">
    <li class="active">
    <i class="fas fa-th"></i>
    </li>
    <li>
    <i class="fas fa-bars"></i>
    </li>
    </ul>
    </div>
    </div>
    <div class="tab-area">
    <div class="tab-item active">

    @if (@TempData["ErrorMessages"] != null)
    {
    <h3>
    @TempData["ErrorMessages"]
    </h3>

    }
    else
    {

    @foreach (var item in Model)
    {
    <div class="row mb-10 justify-content-center">
    <div class="col-sm-6 col-lg-4">
    <div class="movie-grid">
    <div class="movie-thumb c-thumb">
    <a asp-controller="Phim" asp-action="ChiTietPhim" asp-route-phimId="@item.PhimId">
    <img src="posters/@item.Anh" alt="movie">
    </a>
    </div>
    <div class="movie-content bg-one">
    <h6 class="title m-0">
    <a asp-controller="Phim" asp-action="ChiTietPhim" asp-route-phimId="@item.PhimId">@item.TenPhim</a>
    <p style="font-size:11px;padding: 16px 0 0 0;">Thể Loại: @item.TheLoais</p>
    <p style="font-size:11px;">Thời lượng: @item.ThoiLuong</p>
    <p style="font-size:11px;">Khởi chiếu: @item.KhoiChieu.ToLongDateString()</p>
    </h6>

    <ul class="movie-rating-percent">
    <li>
    <span class="content"> Rate: @item.TotalRate</span>
    </li>
    <li class="active1 right">
    <a style="color: white;padding: 0 7px" asp-controller="LichChieu" asp-action="LichChieu">Mua vé</a>
    </li>

    </ul>
    </div>
    </div>
    </div>


    </div>

    }}
    </div>
    <div class="tab-item">
    <div class="movie-area mb-10">
    @if (@TempData["ErrorMessages"] != null)
    {
    <h3>
    @TempData["ErrorMessages"]
    </h3>

    }
    else
    {

    @foreach (var item in Model)
    {
    <div class="movie-list">
    <div class="movie-thumb c-thumb">
    <a asp-controller="Phim" asp-action="ChiTietPhim" asp-route-phimId="@item.PhimId" class="w-100 bg_img h-100" data-background="assets/images/movie/movie01.jpg">
    <img class="d-sm-none" src="~/posters/@item.Anh" alt="movie">
    </a>
    </div>
    <div class="movie-content bg-one">
    <h5 class="title">
    <a asp-controller="Phim" asp-action="ChiTietPhim" asp-route-phimId="@item.PhimId">@item.TenPhim</a>
    </h5>
    <p class="duration">@item.ThoiLuong</p>
    <div class="movie-tags">
    <a href="#0">@item.TheLoais</a>

    </div>
    <div class="release">
    <span>Khởi chiếu : </span> <a href="#0"> @item.KhoiChieu</a>
    </div>
    <ul class="movie-rating-percent">
    <li>
    <div class="thumb">
    <img src="assets/images/movie/tomato.png" alt="movie">
    </div>
    <span class="content"> Rate: @item.TotalRate</span>
    </li>

    </ul>
    <div class="book-area">
    <div class="book-ticket">

    <div class="react-item mr-auto">
    <a href="#0">
    <div class="thumb">
    <img src="assets/images/icons/book.png" alt="icons">
    </div>
    <span>Mua vé</span>
    </a>
    </div>
    <div class="react-item">
    <a href="#0" class="popup-video">
    <div class="thumb">
    <img src="assets/images/icons/play-button.png" alt="icons">
    </div>
    <span>Xem Trailer</span>
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    }}

    </div>
    </div>
    </div>

    <div class="pagination-area text-center">
    <a @disablePrev asp-controller="Home" asp-action="TheLoaiPhim" asp-route-maTheLoai="@TempData["maTheLoai"]" asp-route-index="@prevPage"><i class="fas fa-angle-double-left"></i><span>Prev</span></a>
    @for (int i = 1; i <= ViewBag.MaxPage + 1; i++)
    {

    <a asp-controller="Home" asp-action="TheLoaiPhim" asp-route-maTheLoai="@TempData["maTheLoai"]" asp-route-index="@i">@i </a>
    }

    <a @disableNext asp-controller="Home" asp-route-maTheLoai="@TempData["maTheLoai"]" asp-action="TheLoaiPhim" asp-route-index="@nextPage"><span>Next</span><i class="fas fa-angle-double-right"></i></a>
    </div>


    </div>
    </div>
    </div>
    </div>
    </section>
    <!-- ==========Movie-Section========== -->*@

<!-- ==========Movie-Section========== -->
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-3">

                <div class="widget-1 widget-check">
                    <div class="widget-header">
                        <h5 class="m-title">Tìm kiếm</h5> <a href="#0" class="clear-check">Clear All</a>
                    </div>
                    <div class="widget-1-body">
                        <h6 class="subtitle">Thể loại</h6>
                        <div class="check-area">
                            <form asp-action="TheLoaiPhim" enctype="multipart/form-data" method="post">
                                <input id="theLoais" name="theLoais" class="form-control" value="@theLoais" style="visibility: hidden" required />
                                @foreach (var item in @theLoaiList)
                                {
                                    if (listTheLoaiTimKiem != null && listTheLoaiTimKiem.Contains(item.TheLoaiId) || @maTheLoai == item.TheLoaiId)
                                    {
                                        <div class="form-group">
                                            <input type="checkbox" class="theloaiphim" id="@item.TheLoaiId" value="@item.TheLoaiId" checked="true"><label for="@item.TheLoaiId">@item.TenTheLoai</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <input type="checkbox" class="theloaiphim" id="@item.TheLoaiId" value="@item.TheLoaiId"><label for="@item.TheLoaiId">@item.TenTheLoai</label>
                                        </div>
                                    }

                                }
                                <input type="submit" value="Tìm kiếm" onclick="Test()" />

                            </form>

                        </div>
                    </div>
                </div>


            </div>
            <div class="col-lg-9 mb-50 mb-lg-0">
                <div class="filter-tab tab">
                    <div class="filter-area">
                        <div class="filter-main">
                            <div class="left">
                                <div class="item">
                                    <span class="show">Hiển thị :</span>
                                    <select class="select-bar">
                                        <option value="12">5</option>
                                        <option value="15">10</option>
                                        <option value="18">15</option>
                                        <option value="21">20</option>


                                    </select>
                                </div>
                                <div class="item">
                                    <span class="show">Sắp xếp theo :</span>
                                    <select class="select-bar">
                                        <option value="showing">Đang chiếu</option>
                                        <option value="exclusive">Sắp chiếu</option>
                                        <option value="trending">Rate</option>
                                        <option value="most-view">Xem nhiều nhất</option>
                                    </select>
                                </div>
                            </div>
                            <ul class="grid-button tab-menu">
                                <li class="active">
                                    <i class="fas fa-th"></i>
                                </li>
                                <li>
                                    <i class="fas fa-bars"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-area">
                        <div class="tab-item active">
                            <div class="row mb-10 justify-content-center">
                                @*<div class="movie-grid">
                                    <div class="movie-thumb c-thumb">
                                    <a href="movie-details.html">
                                    <img src="assets/images/movie/movie02.jpg" alt="movie">
                                    </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                    <h6 class="title m-0">
                                    <a href="#0">venus</a>
                                    <p style="font-size:11px;padding: 16px 0 0 0;">Thể Loại: Hành động, kịch tính</p>
                                    <p style="font-size:11px;">Thời lượng: 120p</p>
                                    <p style="font-size:11px;">Khởi chiếu: 01-01-2022</p>
                                    </h6>

                                    <ul class="movie-rating-percent">
                                    <li>
                                    <span class="content"> Rate: 4.5</span>
                                    </li>
                                    <li class="active1 right">
                                    <a href="sign-up.html" style="color: white;padding: 0 7px">Mua vé</a>
                                    </li>

                                    </ul>
                                    </div>
                                    </div>*@
                                @if (@TempData["ErrorMessages"] != null)
                                {
                                    <h3>
                                        @TempData["ErrorMessages"]
                                    </h3>

                                }
                                else
                                {

                                    @foreach (var item in Model)
                                    {
                                        <div class="col-sm-6 col-lg-4">
                                            <div class="movie-grid">
                                                <div class="movie-thumb c-thumb">
                                                    <a asp-controller="Phim" asp-action="ChiTietPhim" asp-route-phimId="@item.PhimId">
                                                        <img src="~/posters/@item.Anh" alt="movie" height="300px">
                                                    </a>
                                                </div>
                                                <div class="movie-content bg-one">
                                                    <h6 class="title m-0">
                                                        <a asp-controller="Phim" asp-action="ChiTietPhim" asp-route-phimId="@item.PhimId">@item.TenPhim</a>
                                                        <p style="font-size:11px;padding: 16px 0 0 0;">Thể Loại: @item.TheLoais</p>
                                                        <p style="font-size:11px;">Thời lượng: @item.ThoiLuong</p>
                                                        <p style="font-size:11px;">Khởi chiếu: @item.KhoiChieu.ToLongDateString()</p>
                                                    </h6>

                                                    <ul class="movie-rating-percent">
                                                        <li>
                                                            <span class="content"> Rate: @item.TotalRate</span>
                                                        </li>
                                                        <li class="active1 right">
                                                            <a style="color: white;padding: 0 7px" asp-controller="LichChieu" asp-action="LichChieu">Mua vé</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    }}



                            </div>
                        </div>

                        <div class="tab-item">
                            <div class="movie-area mb-10">
                                @if (@TempData["ErrorMessages"] != null)
                                {
                                    <h3>
                                        @TempData["ErrorMessages"]
                                    </h3>

                                }
                                else
                                {

                                    @foreach (var item in Model)
                                    {
                                        @*data-background="~/posters/@item.Anh"*@
                                        <div class="movie-list">
                                            <div class="movie-thumb c-thumb">
                                                <a asp-controller="Phim" asp-action="ChiTietPhim" asp-route-phimId="@item.PhimId" class="w-100 h-100">
                                                    <img src="~/posters/@item.Anh" alt="movie" with="100%" height="100%">
                                                </a>
                                            </div>
                                            <div class="movie-content bg-one">
                                                <h5 class="title">
                                                    <a asp-controller="Phim" asp-action="ChiTietPhim" asp-route-phimId="@item.PhimId">@item.TenPhim</a>
                                                </h5>
                                                <p class="duration">@item.ThoiLuong phút</p>
                                                <div class="movie-tags">
                                                    <a href="#0">@item.TheLoais</a>
                                                </div>
                                                <div class="release">
                                                    <span>Khởi chiếu : </span> <a href="#0"> @item.KhoiChieu</a>
                                                </div>
                                                <ul class="movie-rating-percent">
                                                    <li>
                                                        <div class="thumb">
                                                            <img src="assets/images/movie/tomato.png" alt="movie">
                                                        </div>
                                                        <span class="content"> Rate: @item.TotalRate</span>
                                                    </li>

                                                </ul>
                                                <div class="book-area">
                                                    <div class="book-ticket">

                                                        <div class="react-item mr-auto">
                                                            <a href="#0">
                                                                <div class="thumb">
                                                                    <img src="assets/images/icons/book.png" alt="icons">
                                                                </div>
                                                                <span>Mua vé</span>
                                                            </a>
                                                        </div>
                                                        <div class="react-item">
                                                            <a href="~/trailers/@item.Trailer" class="video-popup">
                                                                <div class="thumb">
                                                                    <img src="~/assets/images/icons/play-button.png" alt="icons">
                                                                </div>
                                                                <span>Xem Trailer</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }}

                            </div>
                        </div>
                    </div>

                    <div class="pagination-area text-center">
                        <a @disablePrev asp-controller="Home" asp-action="TheLoaiPhim" asp-route-maTheLoai="@TempData["maTheLoai"]" asp-route-index="@prevPage"
                        asp-route-theLoais="@theLoais"><i class="fas fa-angle-double-left"></i><span>Prev</span></a>
                        @for (int i = 1; i <= ViewBag.MaxPage + 1; i++)
                        {

                            <a asp-controller="Home" asp-action="TheLoaiPhim" asp-route-maTheLoai="@TempData["maTheLoai"]" asp-route-index="@i"
                            asp-route-theLoais="@theLoais" >@i </a>
                        }

                        <a @disableNext asp-controller="Home" asp-route-maTheLoai="@TempData["maTheLoai"]" asp-action="TheLoaiPhim" asp-route-index="@nextPage"
                           asp-route-theLoais="@theLoais"> <span>Next</span><i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Movie-Section========== -->


<script>
    function Test() {
       var checkboxes = document.getElementsByClassName('theloaiphim');
       var selectedlist = [];
       for (var i = 0; i < checkboxes.length; i++) {
           if (checkboxes[i].checked) {

               selectedlist.push(checkboxes[i].value);
           }
       }
       var a = "";
       for (var i = 0; i < selectedlist.length; i++) {
           a += selectedlist[i] + ";";
       }
       document.getElementById('theLoais').value = a;
    }
</script>
