﻿@model CreatePhimViewModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create";
    List<string> theloaiIds = new List<string>();
    if (Model.TheLoais != null)
    {
        string[] theloai = Model.TheLoais.Split(';');
        for (int i = 0; i < theloai.Count() - 1; i++)
        {
            theloaiIds.Add(theloai[i]);
        }
    }
}

<h1>Thêm mới phim</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Banner" class="control-label"></label>
                @if (Model == null || string.IsNullOrEmpty(Model.Banner))
                {
                    <img id="outputBanner" src="~/thumbail/h0.png" width="100%" height="500">

                    <br />
                }
                else
                {
                    <img id="outputBanner" src="~/banners/@Model.Banner" width="100%" height="500">
                    <input asp-for="Banner" hidden />

                }
                <input id="banner" name="banner" type="file" style="margin-top: 5px" required
                       onchange="document.getElementById('outputBanner').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Banner" class="text-danger"></span>

            </div>
            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        <label asp-for="Anh" class="control-label"></label>
                        <br />
                        @if (Model == null || string.IsNullOrEmpty(Model.Anh))
                        {
                            <img id="outputAnh" src="~/thumbail/h0.png" width="300" height="400">

                        }
                        else
                        {
                            <img id="outputAnh" src="~/posters/@Model.Anh" width="300" height="400">
                            <input asp-for="Anh" hidden />
                        }
                        <br />
                        <input name="Anh" id="outputImage" type="file" required style="margin-top:5px"
                               onchange="document.getElementById('outputAnh').src = window.URL.createObjectURL(this.files[0])">

                        <span asp-validation-for="Anh" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-7">
                    <div class="form-group">
                        <label asp-for="TenPhim" class="control-label"></label>
                        <input asp-for="TenPhim" class="form-control" />
                        <span asp-validation-for="TenPhim" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThoiLuong" class="control-label"></label>
                        <input asp-for="ThoiLuong" class="form-control" min=1 />
                        <span asp-validation-for="ThoiLuong" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @{
                            string dateTimeNow = @DateTime.Now.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss");
                        }
                        <label asp-for="KhoiChieu" class="control-label"></label>
                        <input asp-for="KhoiChieu" type="date" class="form-control" value="@DateTime.Now" min="@dateTimeNow" />
                        <span asp-validation-for="KhoiChieu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgonNgu" class="control-label"></label>
                        <select asp-for="NgonNgu" class="form-select form-control">
                            <option selected="selected" value="">--Chọn ngôn ngữ--</option>
                            <option value="Tiếng Việt">Tiếng Việt</option>
                            <option value="Tiếng Anh">Tiếng Anh</option>
                            <option value="Khác">Khác</option>
                        </select>
                        <span asp-validation-for="NgonNgu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CanhBaoId" class="control-label"></label>

                        <select asp-for="CanhBaoId" class="form-control" asp-items="ViewBag.CanhBaoId"></select>
                        <span asp-validation-for="CanhBaoId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Trailer" class="control-label"></label>
                @if (Model == null || string.IsNullOrEmpty(Model.Trailer))
                {
                    <video id="outputTrailer" width=100% height="600" src="" controls="controls" muted></video>
                }
                else
                {
                    <video id="outputTrailer" width=100% height="600" src="~/trailers/@Model.Trailer"
                       controls="controls" muted></video>
                    <input asp-for="Trailer" hidden />
                }
                <input type="file" name="Trailer" accept="video/mp4" required onchange="openFile(event)" />
                <span asp-validation-for="Trailer" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <input asp-for="TheLoais" class="form-control" style="visibility: hidden" required/>
                <label asp-for="TheLoais" class="control-label" style="clear:both"></label>
               @* @Html.TextBoxFor(x => x.TheLoais, new {@class = "hidden"  })*@
                @*@Html.TextBoxFor(x => x.TheLoais, new { @class = "form-label hidden", @id = "kq", @style = "visibility:hidden" })*@
                <br />
                @foreach (var item in @ViewBag.TheLoais.Items)
                {

                    <div class="col-md-3" style="float:left">
                        <input name="theloaiphim" type="checkbox" value="@item.TheLoaiId" />
                        <label for="theloaiphim">@item.TenTheLoai</label>
                    </div>


                }
                <div style="clear:both">
                    <span asp-validation-for="TheLoais" class="text-danger" style="clear:both"></span>
                </div>
            </div>
            <div class="form-group" style="clear:both">
                <label asp-for="MoTa" class="control-label"></label>
                <textarea asp-for="MoTa" class="form-control"></textarea>
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DaoDien" class="control-label"></label>
                <input asp-for="DaoDien" class="form-control" />
                <span asp-validation-for="DaoDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienVien" class="control-label" style="size:25px, font-weght:bold"></label>
                <input asp-for="DienVien" class="form-control" />
                <span asp-validation-for="DienVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaVe" class="control-label"></label>
                <input asp-for="GiaVe" class="form-control" min=1 />
                <span asp-validation-for="GiaVe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhuyenMai" class="control-label"></label>
                <input asp-for="KhuyenMai" class="form-control" min=0/>
                <span asp-validation-for="KhuyenMai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label" hidden></label>
                <input asp-for="TrangThai" class="form-control" value="SapChieu" hidden />
            </div>
            <input asp-for="IsActive" class="form-control" value="true" hidden />
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" onclick="Test()" onchange="upLoadFile(event)" />
                <a asp-action="Index" class="btn btn-info">Trở về</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var editor1 = new RichTextEditor("#MoTa");

</script>
<script>
    var uploadComplete = false;
    var openFile = function (event) {
        var file = event.target.files[0];
        var videoPlayer = document.getElementById('outputTrailer');

        var url = URL.createObjectURL(file);
        videoPlayer.setAttribute('src', url);

        var formData = new FormData();
        formData.append("Trailer", file);
    }

    var upLoadFile = function (event){

        axios.post('/Admin/Phim/Create', formData)
            .then(res => {
                uploadComplete = true;
            });
    }
    //function ChooseDate(){
    //    var khoiChieu = document.getElementsByName('KhoiChieu');
    //    khoiChieu.value=new Date().toISOString().split('T')[0];
    //}

    function Test() {
        var checkboxes = document.getElementsByName('theloaiphim');
        var selectedlist = [];
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {

                selectedlist.push(checkboxes[i].value);
            }
        }
        var a = "";
        for (var i = 0; i < selectedlist.length; i++) {
            a += selectedlist[i] + ";";
        }
        document.getElementById('TheLoais').value = a;
        //document.getElementById('kq').value = a;

        var editor1 = new RichTextEditor(document.getElementById("div_editor1"));
            editor1.attachEvent("change", function () {
                document.getElementById("MoTa").value = editor1.getHTMLCode();
            });

        var today= new Date().toISOString().split('T')[0];
        document.getElementById("KhoiChieu").setAttribute("min", today);
    }


    var loadBanner= function(event){
        var banner = document.getElementById("outputBanner");
        banner.src= URL.createObjectURL(event.target.files[0]);
        var input=document.getElementById("banner");
        input.value=event.target.files[0];
    };
    var loadPoster= function(event){
        document.getElementById('outputAnh').src = window.URL.createObjectURL(this.files[0])
        var poster = document.getElementById("outputAnh");
        var file=event.target.files[0];

            anh.src= URL.createObjectURL(event.target.files[0]);


    };
</script>
}

