﻿@model CreatePhimViewModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create";
    string trangThaiPhim = "";
    if(Model.TrangThai == "DangChieu")
    {
        trangThaiPhim = "Phim Đang Chiếu";
    }
    else  if(Model.TrangThai == "SapChieu")
    {
        trangThaiPhim = "Phim Sắp Chiếu";
    }
    else
    {
        trangThaiPhim = "Phim Đã Chiếu";
    }
}

    
<h1>Cập nhật thông tin Phim 
    <span asp-for="TrangThai" style="color: red; float: right">
        @trangThaiPhim
    </span>
</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="PhimId" hidden />
            <div class="form-group">
                    <img id="outputBanner"  src="~/banners/@Model.Banner" width="100%" height="500">
                    <input asp-for="Banner" hidden />                
            </div>   
            <input id="bannerFile" name="bannerFile" type="file" onchange="loadBanner(event)"/>
            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                           <img id="outputAnh" src="~/posters/@Model.Anh" width="300" height="400">
                           <input asp-for="Anh" hidden/>
                    </div>
                     <input id="anhFile" name="anhFile" type="file" onchange="loadAnh(event)"/>
                </div>
                <div class="col-7">
                    <div class="form-group">
                        <label asp-for="TenPhim" class="control-label"></label>
                        <input asp-for="TenPhim" class="form-control" />
                        <span asp-validation-for="TenPhim" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThoiLuong" class="control-label"></label>
                        <input asp-for="ThoiLuong" class="form-control" min=1 />
                        <span asp-validation-for="ThoiLuong" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KhoiChieu" class="control-label"></label>
                        <input asp-for="KhoiChieu" class="form-control"/>
                        <span asp-validation-for="KhoiChieu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgonNgu" class="control-label"></label>
                        <select asp-for="NgonNgu" class="form-select form-control">                   
                           <option selected="selected" value="">--Chọn ngôn ngữ--</option>
                           <option value="Tiếng Việt">Tiếng Việt</option>                                     
                           <option value="Tiếng Anh">Tiếng Anh</option> 
                           <option value="Khác">Khác</option> 
                        </select>
                        <span asp-validation-for="NgonNgu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CanhBaoId" class="control-label"></label>                
                        <select asp-for="CanhBaoId" class ="form-control" asp-items="ViewBag.CanhBaoId"></select>
                        <span asp-validation-for="CanhBaoId" class="text-danger"></span>
                    </div>
                </div>
            </div>
                       
            <div class="form-group">
                <label asp-for="Trailer" class="control-label"></label>
                    <video id="outputTrailer" width=100% height="600" src="~/trailers/@Model.Trailer" 
                    controls="controls"  muted></video>
                    <input asp-for="Trailer" hidden />
            </div>
            <input type="file" name="trailerFile" accept="video/mp4" onchange="openFile(event)" />
            <div class="form-group">  
                <input asp-for="TheLoais" class="form-control" style="visibility: hidden" required/>
                <label asp-for="TheLoais" class="control-label" style="clear:both"></label>
               
                <br />
                @foreach(var item in @ViewBag.TheLoais.Items)
                {
                    
                    @if(@Model.TheLoais != null && @Model.TheLoais.Contains(@item.TenTheLoai.ToString()))
                    {
                        <div class="col-md-3" style="float:left">                      
                            <input name="theloaiphim" type="checkbox" value="@item.TheLoaiId" checked=true onclick="Test()" />
                            <label for="theloaiphim">@item.TenTheLoai</label>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3" style="float:left">                      
                            <input name="theloaiphim" type="checkbox" value="@item.TheLoaiId" onclick="Test()" />
                            <label for="theloaiphim">@item.TenTheLoai</label>
                        </div>
                    }
                    
                }
                <div style="clear:both">
                     <span asp-validation-for="TheLoais" class="text-danger"></span>
                </div>
               
            </div>
            <br />
            <br />
            <div class="form-group" style="clear:both">
                 <label asp-for="MoTa" class="control-label"></label>
                 <textarea asp-for="MoTa" class="form-control" ></textarea>
                 <span asp-validation-for="MoTa" class="text-danger"></span>               
            </div>
            
            <div class="form-group">
                <label asp-for="DaoDien" class="control-label"></label>
                <input asp-for="DaoDien" class="form-control"/>
                <span asp-validation-for="DaoDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienVien" class="control-label" style="size:25px, font-weght:bold"></label>
                <input asp-for="DienVien" class="form-control" />
                <span asp-validation-for="DienVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaVe" class="control-label"></label>
                <input asp-for="GiaVe" class="form-control" min=1/>
                <span asp-validation-for="GiaVe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhuyenMai" class="control-label"></label>
                <input asp-for="KhuyenMai" class="form-control" min=0/>
                <span asp-validation-for="KhuyenMai" class="text-danger"></span>
            </div>
            <input asp-for="TrangThai" class="form-control" hidden />
            <input asp-for="IsActive" class="form-control" value="true" hidden />
            @*<div class="form-group">
                <label asp-for="TrangThai" class="control-labe"></label>
                        <select asp-for="TrangThai" class="form-select form-control">                   
                           <option selected="selected" value="@Model.TrangThai">@Model.TrangThai</option>
                           <option value="SapChieu">Phim Sắp Chiếu</option>                                     
                           <option value="DangChieu">Phim Đang Chiếu</option> 
                        </select>
                 <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>*@
            
            
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" onclick="Test()" onchange="upLoadFile(event)"/>
                <a asp-action="Index" class="btn btn-info">Trở về</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        
    }
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script>
          var editor1 = new RichTextEditor("#MoTa");

   </script>
    <script>
        var uploadComplete = false;
        var openFile = function (event) {
            var file = event.target.files[0];
            var videoPlayer = document.getElementById('outputTrailer');

            var url = URL.createObjectURL(file);
            videoPlayer.setAttribute('src', url);

            var formData = new FormData();
            formData.append("Trailer", file);
        }

        var upLoadFile = function (event){
            
            axios.post('/Admin/Phim/Create', formData)
                .then(res => {
                    uploadComplete = true;
                });
        }

        function Test() {
            var checkboxes = document.getElementsByName('theloaiphim');
            var selectedlist = [];
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {

                    selectedlist.push(checkboxes[i].value);
                }
            }
            var a = "";
            for (var i = 0; i < selectedlist.length; i++) {
                a += selectedlist[i] + ";";
            }
            document.getElementById('TheLoais').value = a;

            var editor1 = new RichTextEditor(document.getElementById("div_editor1"));
				editor1.attachEvent("change", function () {
                    document.getElementById("MoTa").value = editor1.getHTMLCode();
				});
        }

    
        var loadBanner = function(event){
            var banner = document.getElementById("outputBanner");
            banner.src= URL.createObjectURL(event.target.files[0]);
        };
        var loadAnh = function(event){
            var anh = document.getElementById("outputAnh");
            anh.src= URL.createObjectURL(event.target.files[0]);
            
        };
    </script>
    
}



