﻿@inject ITheLoaiServices theLoaiServices;
@{
    var theLoaiList = (await theLoaiServices.GetAllAsync(StaticDetails.TheLoaiAPIPath + "GetAll")).ToList();
    var khachHang = Context.Session.GetString("HoTen");
    var khachHangId = Context.Session.GetString("KhachHangId");
    var email = Context.Session.GetString("Email");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/odometer.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/main.css">

    <link rel="shortcut icon" href="~/~/assets/images/favicon.png" type="image/x-icon">

    <style>
        .disable {
            display: none !important;
        }
    </style>
</head>
<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    <!-- ==========Overlay========== -->
    <div class="overlay"></div>
    <a href="#0" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- ==========Overlay========== -->
    <!-- ==========Header-Section========== -->
    <header class="header-section">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="index.html">
                        <img src="~/assets/images/cgv.png" alt="logo">
                    </a>
                </div>
                <ul class="menu">
                    <li>
                        <a asp-controller="Home" asp-action="Index" asp-route-trangThai="DangChieu" class="active">Home</a>

                    </li>
                    <li>
                        <a href="#0">Phim</a>
                        <ul class="submenu">
                            <li>
                                <a asp-controller="Home" asp-action="Index" asp-route-trangThai="DangChieu">Đang chiếu</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Index" asp-route-trangThai="SapChieu">Sắp chiếu</a>
                            </li >

                        </ul>
                    </li>
                    <li>
                        <a href="#0">Thể loại</a>
                        <ul class="submenu">
                            @foreach (var item in theLoaiList)
                            {
                                <li>
                                    <a asp-controller="Home" asp-action="TheLoaiPhim" asp-route-maTheLoai="@item.TheLoaiId">@item.TenTheLoai</a>
                                </li>
                            }



                        </ul>
                    </li>
                    <li>
                        <a href="#0">Khuyến mãi</a>

                    </li>
                    <li>
                        <a href="#0">Tin tức</a>

                    </li>
                    <li>
                        <a href="#0">Liên hệ</a>

                    </li>                                    
                </ul>
               @* <div>   *@
                        @if(@khachHang!=null){
                        <ul class="menu">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" 
                            data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
                                <span style="font-size: 20px; color: white; padding: 15px">@khachHang</span>
                                <img src="~/images/hinh-anh-con-meo-cute3.jpg" alt="user" class="rounded-circle" width="31" style="margin-top: -10px" >
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                                <li>
                                     <a class="dropdown-item" asp-controller="Account" asp-action="TaiKhoan" style="color: darkblue"> 
                                    <i class="fas fa-sign-out-alt"></i>Thông tin tài khoản
                                    </a>
                                </li>
                                <li>
                                     <a class="dropdown-item" style="color: darkblue" asp-controller="Account" asp-action="DoiMatKhau" >                               
                                    <i class="fas fa-sign-out-alt"></i>Đổi mật khẩu
                                    </a>
                                </li>
                                <li>
                                     <a class="dropdown-item" style="color: darkblue" asp-controller="Account" asp-action="LichSuGiaoDich">                               
                                    <i class="fas fa-sign-out-alt"></i>Lịch sử giao dịch
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" style="color: darkblue" asp-controller="Account" asp-action="DangXuat">                               
                                    <i class="fas fa-sign-out-alt"></i>Đăng xuất
                                    </a>
                                </li>
                            </ul>
                            
                            </ul>                         
                    }
                    else
                    {
                        <ul class="menu">
                            <li class="header-button pr-0">
                            <a asp-controller="Account" asp-action="DangNhap">Đăng nhập</a>
                            </li>
                        </ul>
                        
                    }
                   @* </div>*@
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    <!-- ==========Header-Section========== -->
    

    @RenderBody()


    <!-- ==========Newslater-Section========== -->

    <partial name="_PhimHot"/>

    <footer class="footer-section">
        <div class="newslater-section padding-bottom" style="padding-top: 0px">
            <div class="container">
                <div class="newslater-container bg_img" data-background="~/assets/images/newslater-bg01.jpg">
                    <div class="newslater-wrapper">
                        <h5 class="cate">Đăng ký tài khoản CGV </h5>
                        <h3 class="title">để nhận được những lợi ích độc quyền</h3>
                        <form class="newslater-form">
                            <input type="text" placeholder="Email của bạn">
                            <button type="submit">Đăng ký</button>
                        </form>
                        <p>
                            Chúng tôi tôn trọng quyền riêng tư của bạn, vì vậy chúng tôi không bao giờ chia sẻ
                            thông tin
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-top">
                <div class="logo">
                    <a href="index-1.html">
                        <img src="~/assets/images/logo/cgv.png" alt="footer">
                    </a>
                </div>
                <ul class="social-icons">
                    <li>
                        <a href="#0">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0" class="active">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-google"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-area">
                    <div class="left">
                        <p>Copyright © 2020.All Rights Reserved By <a href="#0">CGV </a></p>
                        <p>
                            CÔNG TY TNHH CJ CGV VIETNAM

                        </p>
                        <p>Giấy CNĐKDN: 0303675393, đăng ký lần đầu ngày 31/7/2008, đăng ký thay đổi lần thứ 5 ngày 14/10/2015, cấp bởi Sở KHĐT thành phố Hồ Chí Minh.</p>
                        <p>Địa Chỉ: Tầng 2, Rivera Park Saigon - Số 7/28 Thành Thái, P.14, Q.10, TPHCM.</p>
                        <p> Hotline: 1900 6017</p>
                    </div>
                    <ul class="links">
                        <li>
                            <a href="#0">About</a>
                        </li>
                        <li>
                            <a href="#0">Điều khoản sử dụng</a>
                        </li>
                        <li>
                            <a href="#0">Chính sách bảo mật</a>
                        </li>
                        <li>
                            <a href="#0">FAQ</a>
                        </li>
                        <li>
                            <a href="#0">Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- ==========Newslater-Section========== -->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/magnific-popup.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/countdown.min.js"></script>
    <script src="~/assets/js/odometer.min.js"></script>
    <script src="~/assets/js/viewport.jquery.js"></script>
    <script src="~/assets/js/nice-select.js"></script>
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <link href="~/css/toastr.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            if ('@TempData["Success"]' != "") {
                toastr.success('@TempData["Success"]');
            }
            if ('@TempData["Error"]' != "") {
                toastr.error('@TempData["Error"]');
            }
        })
    </script>
</body>
</html>
