﻿@model VeDetailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h1>Thông tin chi tiết vé</h1>
<hr />
<div>
    <div class="row">
        <p><b>Họ và tên khách hàng: </b>@Model.User.HoTen</p>
        <p><b>Số điện thoại: </b>@Model.User.SoDienThoai</p>
    </div>
    <div class="row">
        <input asp-for="VeId" class="form-control" hidden />
        <div class="col-4">
            <img src="~/posters/@Model.LichChieu.Phim.Anh" width=80% height=100% />
        </div>
        <div class="col-8">
            <h2>@Model.LichChieu.Phim.TenPhim</h2>
            <p><b>Thời lượng: </b>@Model.LichChieu.Phim.ThoiLuong phút</p>
            <p><b>Xuất chiếu: </b>@Model.LichChieu.XuatChieu</p>
            <p><b>Số lượng ghế: </b>@Model.SoLuongGheNgoi</p>
            <p><b>Loại ghế: </b>@Model.RapGhe.LoaiGhe.TenLoaiGhe</p>
            <p><b>Vị trí: </b>@Model.ViTri</p>
            <p><b>Khuyến mãi: @Model.LichChieu.PhanTramKM (%)</b></p>
            <h3><b style="color:red">Tổng giá vé: @String.Format("{0:0,0}", @Model.TongGiaVe) VNĐ</b></h3>
            
        </div>
    </div>
</div>
<br />
<div style="margin-top:20px">
    @if(DateTime.Now.Date == Model.LichChieu.XuatChieu.Date){
        <a asp-action="Confirm" asp-route-veId="@Model.VeId" class="btn btn-primary">Xác nhận</a>
    }
    <a asp-action="Index" class="btn btn-info">Trở về</a>
    <a href="" class="btn btn-danger" style="float:right" data-toggle="modal" data-target="#myModal"  
    onclick="document.getElementById('veId').value=@Model.VeId" >Hủy vé</a>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <form asp-action="Cancel" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title" style="float: left">Xác nhận hủy vé</h4>
                    <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                    <hr />
                    <input name="veId" id="veId" hidden />
                    <div class="form-group">
                        <label class="form-label">Lý do hủy:</label>
                        <input type="text" class="form-control" name="note" id="note" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <input type="submit" value="Hủy vé" class="btn btn-danger" />
                </div>
            </div>
        </form>
    </div>
</div>
