﻿@model CGVManagerDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Thông tin chi tiết tài khoản</h1>

<div>
    <h4>CGV Manager Id: @Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCumRap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCumRap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
    </dl>
    
    <div>
        <a asp-action="Index" class="btn btn-info">Trở về</a>
    </div>
</div>

