﻿@model IEnumerable<VeViewModel>

@{
    ViewData["Title"] = "Index";
}
<h1>Lịch sử giao dịch</h1>
<hr />
<div class="row">
    <p><b>Họ và tên khách hàng: </b>@ViewBag.KhachHang.HoTen</p>
    <p><b>Số điện thoại: </b>@ViewBag.KhachHang.SoDienThoai</p>
    <p><b>Email: </b>@ViewBag.KhachHang.Email</p>
    <p><b>Địa chỉ: </b>@ViewBag.KhachHang.DiaChi</p>
</div>
@if (Model == null)
{
    <h1>Không có vé nào được đặt</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th width=25%>
                    @Html.DisplayNameFor(model => model.LichChieu.Phim.TenPhim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LichChieu.XuatChieu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoLuongGheNgoi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TongGiaVe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrangThai)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width=25%>
                        @Html.DisplayFor(modelItem => item.LichChieu.Phim.TenPhim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LichChieu.XuatChieu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongGheNgoi)
                    </td>
                    <td>
                        @{
                            string tongGiaVe = @String.Format("{0:0,0}", @item.TongGiaVe);
                        }
                        @Html.DisplayFor(modelItem => tongGiaVe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrangThai)
                    </td>
                    <td>
                        <a asp-action="TransactionDetails" asp-route-veId="@item.VeId">Chi tiết</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <a asp-action="Index" class="btn btn-info">Trở về</a>
</div>
