﻿@model VeDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Thông tin chi tiết vé</h1>
<hr />
<div>
    <div class="row">
        <p><b>Họ và tên khách hàng: </b>@Model.User.HoTen</p>
        <p><b>Số điện thoại: </b>@Model.User.SoDienThoai</p>
    </div>
    <div class="row">
        <input asp-for="VeId" class="form-control" hidden />
        <div class="col-4">
            <img src="~/posters/@Model.LichChieu.Phim.Anh" width=80% height=100% />
        </div>
        <div class="col-8">
            <h2>@Model.LichChieu.Phim.TenPhim</h2>
            <p><b>Thời lượng: </b>@Model.LichChieu.Phim.ThoiLuong phút</p>
            <p><b>Xuất chiếu: </b>@Model.LichChieu.XuatChieu</p>
            <p><b>Số lượng ghế: </b>@Model.SoLuongGheNgoi</p>
            <p><b>Loại ghế: </b>@Model.RapGhe.LoaiGhe.TenLoaiGhe</p>
            <p><b>Vị trí: </b>@Model.ViTri</p>
            <p><b>Khuyến mãi: @Model.LichChieu.PhanTramKM (%)</b></p>
            <h3><b style="color:red">Tổng giá vé: @String.Format("{0:0,0}", @Model.TongGiaVe) VNĐ</b></h3>
            
        </div>
    </div>
</div>
<br />
<div style="margin-top:20px">
    <a asp-area="Admin" asp-controller="KhachHang" asp-action="Transaction" asp-route-id="@Model.User.UserId" class="btn btn-info">Trở về</a>
</div>
