﻿@model IEnumerable<TheLoaiViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách thể loại phim</h1>
<hr />
<p>
    @*<a asp-action="Create" class="btn  btn-primary">Thêm mới</a>*@
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">Thêm mới</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTheLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.TheLoaiId">
                <td>
                    @Html.DisplayFor(modelItem => item.TenTheLoai)
                </td>
                @*<td>
                    <a href="" class="open" data-toggle="modal" data-target="#modalUpdate"
                   onclick="document.getElementById('idUpdate').value=@item.TheLoaiId
                            , document.getElementById('tenUpdate').value='@item.TenTheLoai'">Chỉnh sửa</a> |
                    <a href="" class="open" data-toggle="modal" data-target="#myModal" data-delete="@item.TheLoaiId"
                   onclick="document.getElementById('theLoaiId').value=@item.TheLoaiId">Xóa</a>
                </td>*@
                <td  style="float: right">
                    <a class="nav-link text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-pen" style="font-size: x-large; color: darkcyan"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">

                        <li>
                            <a href="" class="open" data-toggle="modal" data-target="#modalUpdate"
                   onclick="document.getElementById('idUpdate').value=@item.TheLoaiId
                            , document.getElementById('tenUpdate').value='@item.TenTheLoai'"><i class="fa-solid fa-file-pen"></i>&nbsp  Chỉnh sửa</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a href="" class="open" data-toggle="modal" data-target="#myModal" data-delete="@item.TheLoaiId"
                   onclick="document.getElementById('theLoaiId').value=@item.TheLoaiId"><i class="fa-solid fa-trash"></i>&nbsp Xóa</a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal Create -->
<div class="modal fade" id="modalCreate" role="dialog">
    <div class="modal-dialog">
        <form asp-controller="TheLoai" asp-action="Create" enctype="multipart/form-data" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="modal-title" style="float: left; padding-bottom:20px"><b>Thêm mới thể loại</b></h2>
                    <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                    <hr />
            <div class="form-group" style="clear:both">
                <label class="control-label">Tên thể loại</label>
                <input id="tenTheLoai" name="tenTheLoai" class="form-control" required/>
            </div>
            </div>
             <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Thêm mới" class="btn  btn-primary" />
                </div>
            </div>
        
        </form>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="modalUpdate" role="dialog">
    <div class="modal-dialog">
        <form asp-controller="TheLoai" asp-action="Update" enctype="multipart/form-data" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="modal-title" style="float: left; padding-bottom:20px"><b>Cập nhật thể loại</b></h2>
                    <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                    <hr />
                    <input id="idUpdate" name="idUpdate" class="form-control" hidden/>
            <div class="form-group" style="clear:both">
                <label class="control-label">Tên thể loại</label>
                <input id="tenUpdate" name="tenUpdate" class="form-control" required/>
            </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Cập nhật" class="btn  btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
                
                
            
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <form asp-controller="TheLoai" asp-action="Delete" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title" style="float: left">Xác nhận xóa</h4>
                    <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                    <hr />
                    <h3>Bạn chắc chắn muốn xóa thể loại phim này?</h3>
                    <input name="theLoaiId" id="theLoaiId" hidden />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
@*<script src="/js/Admin/theLoai.js"></script>*@
<script>
    function LoadId(int id){
         $(".open").click(function(){
             $('#theLoaiId').val(id);
         })
</script>
}