﻿@model IEnumerable<DoanhThuTheoNgay>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
    var ngay = ViewData["Ngay"] as string;
}
<h1>Thống kê doanh thu</h1>
<hr />
<form asp-action="IndexCumRap" method="post">
    <div class="row">
        <div class="col-10">
            <label class="control-label">Tháng</label>
            <input type='number' name="thang" class="form-control" value="@ViewBag.Thang"/>
            <label class="control-label">Năm</label>
            <input type='number' name="nam" class="form-control" value="@ViewBag.Nam"/>
        </div>
        <div class="col-2">
             <input type="submit" value="Tìm kiếm" style="margin-top: 25px" class="btn btn-info form-control"/>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ngay)
            </th>
            <th>
                Doanh Thu Ngày (VND)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngay)
                </td>
                <td>
                    @{
                        var doanhThu = "0";
                        if (item.DoanhThu > 0)
                        {
                            doanhThu = @String.Format("{0:0,0}", item.DoanhThu);
                        }

                    }
                    @Html.DisplayFor(modelItem => doanhThu)
                </td>
            </tr>
        }
        <tr>
            <td colspan="2"><b>Tổng doanh thu :</b></td>
            <td>
                <b>
                    @if (@ViewBag.TongDoanhThu > 0)
                    {
                        @String.Format("{0:0,0}", @ViewBag.TongDoanhThu)
                    }
                    else
                    {
                        @ViewBag.TongDoanhThu
                    }
                    VND
                </b>
            </td>
        </tr>
    </tbody>
</table>

