﻿@model IEnumerable<DoanhThuTheoNam>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="col-4">
        <form asp-action="Index" method="post">
            <div class="card">
                <div class="card-body text-center" style="background-color: lightblue;">
                    <div>
                        <label style="float: left; margin: 10px">Ngày</label>
                        <input type="date" name="ngay" class="form-control" style="float: left; width:50%; margin: 10px" value="@ViewBag.Ngay" required />
                        <input type="submit" value="Tìm kiếm" style="float: left; margin: 10px" class="btn btn-info" />
                    </div>
                    <div style="clear:both;">
                        <a asp-action="">Xem thống kê ngày </a>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="col-4">
        <form asp-action="SaleMonth" method="post">
            <div class="card">
                <div class="card-body text-center" style="background-color: peachpuff;">
                    <div>
                        <label style="float: left; margin-top: 10px; margin-right: 2px">Tháng</label>
                        <input type="number" name="thang" class="form-control" style="float: left; width:80px;margin-top: 10px; margin-right: 10px" value="@ViewBag.Thang" required />
                        <label style="float: left; margin-top: 10px; margin-right: 2px">Năm</label>
                        <input type="number" name="nam" class="form-control" style="float: left; width:100px;margin-top: 10px; margin-right: 10px" value="@ViewBag.Nam" required />
                        <input type="submit" value="Tìm kiếm" style="float: left; margin-top: 10px" class="btn btn-info" />
                    </div>
                    <div style="clear:both; margin-top:50px">
                        <a asp-action="">Xem thống kê tháng </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4">
        <form asp-action="SaleYear" method="post">
            <div class="card">
                <div class="card-body text-center" style="background-color: mistyrose;">
                    <div>
                        <label style="float: left; margin: 10px">Năm</label>
                        <input type="number" name="namTimKiem" class="form-control" style="float: left; width:50%; margin: 10px" value="@ViewBag.NamTimKiem" required />
                        <input type="submit" value="Tìm kiếm" style="float: left; margin: 10px" class="btn btn-info" />
                    </div>
                    <div style="clear:both">
                        <a asp-action="">Xem thống kê năm </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CumRap.TenRap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CumRap.ThanhPho.TenThanhPho)
            </th>
            <th>
                Doanh Thu Năm (VND)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CumRap.TenRap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CumRap.ThanhPho.TenThanhPho)
                </td>
                <td>
                    @{
                        var doanhThu = "0";
                        if (item.DoanhThu > 0)
                        {
                            doanhThu = @String.Format("{0:0,0}", item.DoanhThu);
                        }

                    }
                    @Html.DisplayFor(modelItem => doanhThu)
                </td>
            </tr>
        }
        <tr>
            <td colspan="2"><b>Tổng doanh thu :</b></td>
            <td>
                <b>
                    @if (@ViewBag.TongDoanhThu > 0)
                    {
                        @String.Format("{0:0,0}", @ViewBag.TongDoanhThu)
                    }
                    else
                    {
                        @ViewBag.TongDoanhThu
                    }
                    VND
                </b>
            </td>
        </tr>
    </tbody>
</table>
