﻿@model VeDetailViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="padding-top padding-bottom">
        <div>
             <div class="row">
                 <a asp-action="LichSuGiaoDich" asp-route-khachHangId="@Model.User.UserId" style="padding-left:10px; font-size: 25px">Lịch sử giao dịch</a>
             </div>
        </div>

        <h1>Thông tin chi tiết vé</h1>
        <hr />
        <div>
            <div class="row">
                <input asp-for="VeId" class="form-control" hidden />
                <div class="col-4">
                    <img src="~/posters/@Model.LichChieu.Phim.Anh" width=80% height=100% />
                </div>
                <div class="col-8">
                    <h2>@Model.LichChieu.Phim.TenPhim</h2>
                    <p><b>Thời lượng: </b>@Model.LichChieu.Phim.ThoiLuong phút</p>
                    <p><b>Xuất chiếu: </b>@Model.LichChieu.XuatChieu</p>
                    <p><b>Số lượng ghế: </b>@Model.SoLuongGheNgoi</p>
                    <p><b>Loại ghế: </b>@Model.RapGhe.LoaiGhe.TenLoaiGhe</p>
                    <p><b>Vị trí: </b>@Model.ViTri</p>
                    <p><b>Khuyến mãi: @Model.LichChieu.PhanTramKM (%)</b></p>
                    <h3><b style="color:red">Tổng giá vé: @String.Format("{0:0,0}", @Model.TongGiaVe) VNĐ</b></h3>

                </div>
            </div>
        </div>
        <br />
    </div>
</div>

