﻿@model CreateKhachHangViewModel
@{
    Layout = "_Layout";
    List<string> errorMessages = TempData["ErrorMessages"] as List<string>;
    var t = 0;
}

<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    
    <!-- ==========Sign-In-Section========== -->
    <section class="account-section bg_img" data-background="assets/images/account/account-bg.jpg">
        <div class="container">
            <div class="padding-top padding-bottom">
                <div class="account-area">
                    <div class="section-header-3">
                        <span class="cate">Chào mừng</span>
                        <h2 class="title">đến với CGV </h2>
                    </div>
                    
                    @if(errorMessages != null)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in errorMessages)
                    {
                        <li style="color:red">@error</li>
                    }
                </ul>
            </div>
        }
                    <form asp-action="DangKy" class="account-form">
                        <div class="form-group">
                            <label asp-for="HoTen">Họ tên<span>*</span></label>
                            <input asp-for="HoTen" type="text" placeholder="Nhập họ và tên" required style="padding-left:5px">
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">Email<span>*</span></label>
                            <input asp-for="Email" type="text" placeholder="Nhập email" required style="padding-left:5px">
                        </div>
                        <div class="form-group">
                            <label asp-for="SoDienThoai">Số điện thoại<span>*</span></label>
                            <input asp-for="SoDienThoai" type="text" placeholder="Nhập số điện thoại" required style="padding-left:5px">
                        </div>
                        <div class="form-group">
                            <label asp-for="DiaChi">Địa chỉ<span>*</span></label>
                            <input asp-for="DiaChi" type="text" placeholder="Nhập địa chỉ" required style="padding-left:5px">
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Mật khẩu<span>*</span></label>
                            <input asp-for="Password"type="password" placeholder="Nhập mật khẩu" required style="padding-left:5px">
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Xác nhận mật khẩu<span>*</span></label>
                            <input asp-for ="ConfirmPassword" type="password" placeholder="Nhập lại mật khẩu" required style="padding-left:5px">
                        </div>
                        <div class="form-group checkgroup">
                            <input type="checkbox" id="bal" required checked>
                            <label for="bal">Tôi đồng ý với  <a href="#0">các điều khoản, chính sách</a> và <a href="#0">lệ phí</a></label>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Sign Up">
                        </div>
                    </form>
                    <div class="option">
                        Bạn đã có tài khoản? <a href="sign-in.html">Đăng nhập</a>
                    </div>
                    <div class="or"><span>Hoặc</span></div>
                    <ul class="social-icons">
                        <li>
                            <a href="#0">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="active">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
