﻿@model IEnumerable<VeViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="padding-top padding-bottom">
        <h3>Lịch sử giao dịch</h3>
        <hr />

        @if (Model == null)
        {
            <h1>Không có vé nào được đặt</h1>
        }
        else
        {
            <table class="table" style="color: white">
                <thead>
                    <tr>
                        <th width=25%>
                            @Html.DisplayNameFor(model => model.LichChieu.Phim.TenPhim)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LichChieu.XuatChieu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SoLuongGheNgoi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TongGiaVe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TrangThai)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td width=25%>
                                @Html.DisplayFor(modelItem => item.LichChieu.Phim.TenPhim)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LichChieu.XuatChieu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoLuongGheNgoi)
                            </td>
                            <td>
                                @{
                                    string tongGiaVe = @String.Format("{0:0,0}", @item.TongGiaVe);
                                }
                                @Html.DisplayFor(modelItem => tongGiaVe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrangThai)
                            </td>
                            <td>
                                <a asp-action="ChiTietVe" asp-route-veId="@item.VeId">Chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
