﻿@model PhimDetailViewModel
@{
    string backgroundImage = "~/banners/" + @Model.Banner;
}
<section class="details-banner" style="background-image: url(@backgroundImage) important;">
        <div class="container">
            <div class="details-banner-wrapper">
                <div class="details-banner-thumb" style="height: 400px">
                    <img src="~/posters/@Model.Anh" alt="movie" height=100%>
                    <a href="~/trailers/@Model.Trailer" class="video-popup">
                        <img src="~/assets/images/movie/video-button.png" alt="movie">
                    </a>
                </div>
                <div class="details-banner-content offset-lg-3">
                <h3 class="title">@Model.TenPhim</h3>
                <div class="tags">
                    <a href="#0">@Model.NgonNgu</a>
                    
                </div>
                <a href="#0" class="button">@Model.TheLoais</a> 
                <div style="margin-top:10px; margin-bottom:10px">
                         <div class="item">
                            <img src="~/canhbaos/@Model.CanhBao.Anh" alt="Canhbao" width="80px">
                            <span>@Model.CanhBao.TenCanhBao</span>
                        </div>
                    </div>
                <div class="social-and-duration">
                    <div class="duration-area">
                        <div class="item">
                            <i class="fas fa-calendar-alt"></i><span>@Model.KhoiChieu.ToLongDateString()</span>
                        </div>
                        <div class="item">
                            <i class="far fa-clock"></i><span>@Model.ThoiLuong phút</span>
                        </div>
                    </div>
                    <ul class="social-share">
                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Book-Section========== -->
<section class="book-section bg-one">
    <div class="container">
        <div class="book-wrapper offset-lg-3">
            <div class="left-side">

                <div class="item">
                    <div class="item-header">
                        <h5 class="title">@Model.TotalRate</h5>
                        <div class="rated">

                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half"></i>
                        </div>
                    </div>
                    <p>Rating</p>
                </div>

            </div>

            <a asp-controller="LichChieu" asp-action="LichChieu" class="custom-button">Mua vé</a>
        </div>
    </div>
</section>
<!-- ==========Book-Section========== -->






<!-- ==========Movie-Section========== -->
<section class="movie-details-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center flex-wrap-reverse mb--50">
            <div class="col-lg-3 col-sm-10 col-md-6 mb-50">
                <div class="widget-1 widget-tags">
                    <ul>
                        <li>
                            <a href="#0">2D</a>
                        </li>
                        <li>
                            <a href="#0">3D</a>
                        </li>
                        <li>
                            <a href="#0">4D</a>
                        </li>
                    </ul>
                </div>
                <div class="widget-1 widget-offer">
                    <h3 class="title">PHIM LIÊN QUAN</h3>

                </div>
                <div class="widget-1 widget-banner">
                    @foreach(var item in @ViewBag.PhimLienQuan)
                    {
                        <div class="widget-1-body mb-10">
                            <a asp-controller="ChiTietPhim" asp-route-phimId = "@item.PhimId">
                                <img src="~/posters/@item.Anh" alt="Anh">
                            </a>
                            <h5 style="margin-top: 5px">@item.TenPhim</h5>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-9 mb-50">
                <div class="movie-details">

                    <div class="tab summery-review">
                        <ul class="tab-menu">
                            <li class="active">
                                Mô tả
                            </li>
                            <li>
                                Bình luận <span>147</span>
                            </li>
                        </ul>
                        <div class="tab-area">
                            <div class="tab-item active">
                                <div class="item">
                                    <h5 class="sub-title">Nội dung phim</h5>
                                    <div>@Html.Raw(@Model.MoTa)</div>
                                </div>

                                <div class="item details-banner-content">
                                    <h6>
                                        Đạo diễn:
                                        <a class="button">@Model.DaoDien</a>
                                    </h6>

                                    <br>
                                    <h6>
                                        Diễn viên:
                                        <a href="#0" class="button">@Model.DienVien</a>
                                        
                                    </h6>
                                </div>
                            </div>
                            <div class="tab-item">
                                <div class="movie-review-item">
                                    <div class="author">
                                        <div class="thumb">
                                            <a href="#0">
                                                <img src="assets/images/cast/cast02.jpg" alt="cast">
                                            </a>
                                        </div>
                                        <div class="movie-review-info">
                                            <span class="reply-date">13 ngày trước</span>
                                            <h6 class="subtitle"><a href="#0">Dương</a></h6>

                                        </div>
                                    </div>
                                    <div class="movie-review-content">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <div class="ratings"> <i class="fa fa-star rating rating-color"></i> <i class="fa fa-star rating rating-color"></i> <i class="fa fa-star rating rating-color"></i> <i class="fa fa-star rating rating-color"></i> <i class="fa fa-star rating"></i> </div>

                                        </div>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat enim non ante egestas vehicula. Suspendisse potenti. Fusce malesuada fringilla lectus venenatis porttitor. </p>
                                        <div class="review-meta">
                                            <a href="#0">
                                                <i class="flaticon-hand"></i><span>8</span>
                                            </a>
                                            <a href="#0" class="dislike">
                                                <i class="flaticon-dont-like-symbol"></i><span>0</span>
                                            </a>

                                        </div>
                                    </div>
                                </div>

                                <div class="load-more text-center">
                                    <a href="#0" class="custom-button transparent">load more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Movie-Section========== -->