﻿@model IEnumerable<PhimViewModel>


@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
    var nextPage = (int)ViewBag.Page + 1;
    var prevPage = (int)ViewBag.Page - 1 < 0 ? 1 : (int)ViewBag.Page - 1;
    var disableNext = Model.ToList().Count() < 10 ? "disable" : "";
    var disablePrev = (int)ViewBag.Page == 1 ? "disable" : "";
}

<h1>Danh sách phim</h1>
<hr />
<form asp-action="Index" method="post" style="margin-top:10px">
    <div class="row">
        <div class="col-4">
            <input id="timKiem" name="timKiem" class="form-control" placeholder="Nhập tên phim ..." />
        </div>
        <div class="col-4">
            <input type="submit" value="Tìm kiếm" class="btn btn-info" />
        </div>
        <div class="col-4">
            <select id="trangThaiPhim" name="trangThaiPhim" class="form-select form-control" style="float:right">
                <option selected="selected" value="">Tất Cả Phim</option>
                <option value="Phim sắp chiếu">Phim Sắp Chiếu</option>
                <option value="Phim đang chiếu">Phim Đang Chiếu</option>
                <option value="Phim đã chiếu">Phim Đã Chiếu</option>
            </select>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th width="25%">
                @Html.DisplayNameFor(model => model.TenPhim)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheLoais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhoiChieu)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="25%">
                    @Html.DisplayFor(modelItem => item.TenPhim)
                </td>
                <td width=15%>
                    <img style="width:120px" height="152px" src="~/posters/@item.Anh" alt=@item.TenPhim />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TheLoais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiLuong)
                </td>
                <td>
                    @{
                        string ngayKhoiChieu = item.KhoiChieu.ToShortDateString();
                    }
                    @Html.DisplayFor(modelItem => ngayKhoiChieu)
                </td>
                @*<td>
                    <a asp-action="LichChieu" asp-route-phimId="@item.PhimId">Lịch chiếu</a>|
                    <a href="" data-toggle="modal" data-target="#myModal" onclick="loadData(@item.PhimId)">Tạo lịch chiếu</a>
                </td>*@
                <td>
                    <a class="nav-link text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-pen" style="font-size: x-large; color: darkcyan"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown" style="left: -100px">

                        <li>
                            <a asp-action="LichChieu" asp-route-phimId="@item.PhimId"><i class="fa-solid fa-file-lines"></i>&nbsp Lịch chiếu</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a href="" data-toggle="modal" data-target="#myModal" onclick="loadData(@item.PhimId)"><i class="fa-solid fa-calendar-circle-plus"></i>&nbsp Tạo lịch chiếu</a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <form asp-controller="LichChieu" asp-action="Create" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="modal-title" style="float: left"><b>Tạo lịch chiếu</b></h2>
                    <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                    <hr />
                    <div class="row" style="clear:both">
                        <input name="phimId" id="phimId" class="form-control" hidden />
                        <div class="col-md-4">
                            <img name="anh" id="anh" style="margin-top:25px" width="150px" height="190px"
                                 src="~/posters/h0.png" alt="Anh" />
                        </div>
                        <div class="col-md-8">
                            <h2 name="tenPhim" id="tenPhim"></h2>
                            <p><b>Đạo diễn: </b><span name="daoDien" id="daoDien"></span></p>
                            <p><b>Diễn viên: </b><span name="dienVien" id="dienVien"></span></p>
                            <p><b>Thể loại: </b><span name="theLoais" id="theLoais"></span></p>
                            <p><b>Khởi chiếu: </b><span name="khoiChieu" id="khoiChieu"></span></p>
                            <p><b>Thời lượng: </b><span name="thoiLuong" id="thoiLuong"></span>&nbsp phút</p>
                            <h5><b>Rated: </b><span name="canhBaoTen" id="canhBaoTen"></span></h5>
                            <img name="canhBaoAnh" id="canhBaoAnh" width="60px" height="40px" src="~/posters/h0.png" alt="Anh" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chọn rạp</label>
                            <select id="rapId" name="rapId" class="form-select form-control">
                                @foreach (var item in @ViewBag.Raps)
                                {
                                    <option value="@item.RapId">@item.TenRap/@item.LoaiRap</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chọn ngày và giờ chiếu</label>
                            <input id="xuatChieu" name="xuatChieu" class="form-control" type="datetime-local" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Khuyến mãi</label>
                            <input id="khuyenMai" name="khuyenMai" class="form-control" type="number" min=0 />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Thêm mới" class="btn  btn-primary" onclick="Create()" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
     <div class="btn-group mr-2" role="group" aria-label="First group">
         <a class="prev @disablePrev btn btn-white btn-white-group" style="border:0.6px solid green" 
         asp-controller="LichChieu" asp-action="Index"  asp-route-index="@prevPage">&laquo;</a>

     </div>
     <div class="btn-group mr-2" role="group" aria-label="Second group">
         @for (int i = 1; i <= ViewBag.MaxPage + 1; i++)
         {
            if(@ViewBag.Page == i)
            {
                <a class="btn btn-white mr-2 btn-white-group activePage" style="border:0.6px solid green" 
             asp-controller="LichChieu" asp-action="Index" asp-route-index="@i">@i </a>
            }
            else
            {
                <a class="btn btn-white mr-2 btn-white-group" style="border:0.6px solid green" 
             asp-controller="LichChieu" asp-action="Index" asp-route-index="@i">@i </a>
            }
            
         }
     </div>
     <div class="btn-group" role="group" aria-label="Third group">
         <a class="next @disableNext btn btn-white btn-white-group" style="border:0.6px solid green" 
         asp-controller="LichChieu" asp-action="Index" asp-route-index="@nextPage">&raquo;</a>
     </div>
 </div>

@section Scripts {
<script src="~/js/CGV/lichChieu.js"></script>
  }
