﻿body {
    background: #ABCDEF;
    font-family: Assistant, sans-serif;
    display: flex;
    min-height: 90vh;
}

.login {
    color: white;
    background: background: #136a8a;
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    background: linear-gradient(to right, #267871, #136a8a);
    margin: auto;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2), 0px 10px 20px rgba(0,0,0,0.3), 0px 30px 60px 1px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 50px;
}

    .login .head {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .login .head .company {
            font-size: 2.5em;
        }

    .login .msg {
        text-align: center;
        font-size: 1.5em;
    }

    .login .form input[type=text].text {
        border: none;
        background: none;
        box-shadow: 0px 2px 0px 0px white;
        width: 100%;
        color: white;
        font-size: 1.3em;
        padding: 5px;
        outline: none;
        margin-top: 20px;
    }

    .login .form .text::placeholder {
        color: #D3D3D3;
    }
    .login .form .error{
        padding: 5px;
        color: red;
        font-size:1.2em;
    }
    .login .form input[type=password].password {
        border: none;
        background: none;
        box-shadow: 0px 2px 0px 0px white;
        width: 100%;
        color: white;
        font-size: 1.3em;
        outline: none;
        margin-bottom: 40px;
        margin-top: 25px;
        padding: 5px;
    }

    .login .form .password::placeholder {
        color: #D3D3D3;
    }

    .login .form .btn-login {
        background: none;
        text-decoration: none;
        color: white;
        box-shadow: 0px 0px 0px 2px white;
        border-radius: 3px;
        padding: 5px 2em;
        transition: 0.5s;
        font-size :1.3em;
    }

        .login .form .btn-login:hover {
            background: white;
            color: dimgray;
            transition: 0.5s;
        }

    .login .forgot {
        text-decoration: none;
        color: white;
        float: right;
        font-size: 1.3em;
    }

footer {
    position: absolute;
    color: #136a8a;
    bottom: 10px;
    padding-left: 20px;
}

    footer p {
        display: inline;
    }

    footer a {
        color: green;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }

    footer .heart {
        color: #B22222;
        font-size: 1.5em
    }
