﻿@model IEnumerable<RapViewModel>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}

<h1>Danh sách rạp</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoaiRap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenRap)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiRap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenRap)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-rapId="@item.RapId">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
