﻿@model DashBoard
@{
    ViewData["Title"] = "Dashboard";
    //if (Context.Session.GetString("CumRapId") == null)
    //{
    //    Layout = "_AdminLayout";
    //}
    //else
    //{
    //    Layout = "_CGVLayout";
    //}
}
<h1>DashBoard</h1>
<div class="row">
    <div class="col-4">
        <div class="card">
            <a asp-action="KhachHangMoi" class="card-body text-center" style="background-color: peachpuff;">
                <div class="row align-items-center">
                    <div class="col mr-2">
                        <h1 class="card-title text-success">Khách hàng mới</h1>
                        <p class="card-text text-success">@Model.SoLuongKhachHangMoi</p>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-user-group text-success" style="font-size: 3em"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
    @if (Context.Session.GetString("Role").Equals("Staff"))
    {
        <div class="col-4">
        <div class="card">
            <a asp-controller="Ve" asp-action="Index" class="card-body text-center" style="background-color: lightblue;">
                <div class="row align-items-center">
                    <div class="col mr-2">
                        <h1 class="card-title text-primary">Vé mới</h1>
                        <p class="card-text text-primary">@Model.SoLuongVeMoi</p>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-ticket text-primary" style="font-size: 3em "></i>
                    </div>
                </div>
            </a>
        </div>
        </div>
    }
    else if(Context.Session.GetString("Role").Equals("Manager"))
    {
         <div class="col-4">
        <div class="card">
            <a class="card-body text-center" style="background-color: lightblue;">
                <div class="row align-items-center">
                    <div class="col mr-2">
                        <h1 class="card-title text-primary">Vé mới</h1>
                        <p class="card-text text-primary">@Model.SoLuongVeMoi</p>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-ticket text-primary" style="font-size: 3em "></i>
                    </div>
                </div>
            </a>
        </div>
        </div>
    }
    else
    {
        <div class="col-4">
        <div class="card">
            <a asp-action="BinhLuanMoi" class="card-body text-center" style="background-color: cadetblue;">
                <div class="row align-items-center">
                    <div class="col mr-2">
                        <h1 class="card-title text-warning">Bình luận mới</h1>
                        <p class="card-text text-warning">@Model.SoLuongBinhLuanMoi</p>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-comments text-warning " style="font-size: 3em"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
    }
    <div class="col-4">
        <div class="card">
            @if(Context.Session.GetString("CumRapId") == null)
            {
                <a asp-controller="ThongKe" asp-action="Index" class="card-body text-center" style="background-color: aquamarine;">
                <div class="row align-items-center">
                    <div class="col mr-2">
                        <h1 class="card-title" style="color: red">Doanh thu</h1>
                        <p class="card-text" style="font-size: 1.5em; color:red">
                            @if (Model.DoanhThuNgay > 0)
                            {
                                @String.Format("{0:0,0}", Model.DoanhThuNgay)
                            }
                            else
                            {
                                @Model.DoanhThuNgay
                            }
                            VND
                        </p>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-money-check-dollar text-success" style="font-size: 3em"></i>
                    </div>
                </div>
            </a>
            }
            else
            {
                <a asp-controller="ThongKe" asp-action="IndexCumRap" class="card-body text-center" style="background-color: aquamarine;">
                <div class="row align-items-center">
                    <div class="col mr-2">
                        <h1 class="card-title" style="color: red">Doanh thu</h1>
                        <p class="card-text" style="font-size: 1.5em; color:red">
                            @if (Model.DoanhThuNgay > 0)
                            {
                                @String.Format("{0:0,0}", Model.DoanhThuNgay)
                            }
                            else
                            {
                                @Model.DoanhThuNgay
                            }
                            VND
                        </p>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-money-check-dollar text-success" style="font-size: 3em"></i>
                    </div>
                </div>
            </a>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="card-header">
            Doanh thu tuần hiện tại:
            @if (Model.DoanhThuNgay > 0)
            {
                @String.Format("{0:0,0}", Model.DoanhThuTuan)
            }
            else
            {
                @Model.DoanhThuTuan
            }
            VND
        </div>
        <div class="card-body">
            <canvas class="my-4 h-25" id="saleWeek"></canvas>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card-header">
            Trạng thái vé
        </div>
        <div class="card-body">
            <canvas class="my-4 h-25" id="ticketStatus"></canvas>
        </div>
    </div>
</div>
<div>
    <a asp-controller="ThongKe" asp-action="Index" class="btn btn-outline-info">Thống kê doanh thu</a>
</div>
<script src="~/js/chart.js"></script>

<script type="text/javascript">
    var chartSaleWeek = document.getElementById('saleWeek').getContext('2d');
    var saleWeek = new Chart(chartSaleWeek, {
        type: 'line',
        data:{
            labels: @Html.Raw(Json.Serialize(ViewBag.Ngays)),
            datasets:[{
                label: 'Doanh thu (VND)',
                data:@Html.Raw(Json.Serialize(ViewBag.DoanhThuTuan)),
                backgroundColor: 'rgba(6, 128, 249)',
                borderColor: 'rgba(6, 128, 250)',
                borderWidth:2,
                fill:true,
                lineTension: .4,
                showLine: true,
                startAngle: 0
            }]
        },
        //options:{
        //    scales:{
        //        yAxes:[{
        //            ticks:{
        //                beginAtZero:true
        //            }
        //        }]
        //    }
        //}

    })

    var chartTicketStatus = document.getElementById('ticketStatus').getContext('2d');
    var ticketStatus = new Chart(chartTicketStatus, {
        type: 'pie',
        data:{
            labels: @Html.Raw(Json.Serialize(ViewBag.TrangThais)),
            datasets:[{
                label: @Html.Raw(Json.Serialize(ViewBag.TrangThais)),
                data: @Html.Raw(Json.Serialize(ViewBag.SoLuongs)),
                backgroundColor: ["MediumSpringGreen", "Turquoise", "LightCoral"],
            }]
        },
        //options:{
        //    scales:{
        //        yAxes:[{
        //            ticks:{
        //                beginAtZero:true
        //            }
        //        }]
        //    }
        //}
    })
</script>