﻿@model SliderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm mới hình quảng cáo</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-area="Admin" asp-controller="Slider" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ten" class="form-label"></label>
                <input type="text" asp-for="Ten" class="form-control" required/>
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>

            <div class="form-group">
                 <img id="outputAnh" src="~/thumbail/h0.png" width="100%" height="500">
                <input asp-for="Anh" class="form-control" hidden/>
                <input id="anhFile" name="anhFile" type="file" style="margin-top: 5px" required
                       onchange="document.getElementById('outputAnh').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Trở về</a>
            </div>
        </form>
    </div>
</div>





