﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@{
    var userId = Context.Session.GetString("CGVManagerId");
    var userName =  Context.Session.GetString("UserName");
    var roleName =  Context.Session.GetString("Role");
    var email = Context.Session.GetString("Email");
    var cumRapId = Context.Session.GetString("CumRapId");
    var tenRap = Context.Session.GetString("TenRap");
    
}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords"
        content="CGV management, .net 6, .net coew, complete asp.net entity framework development">
    <meta name="description"
        content="Education Project">
    <meta name="robots" content="noindex,nofollow">
    <title>@ViewData["Title"] - CGV.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/style.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/bea550fb41.js" crossorigin="anonymous"></script> 
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full" style="min-height: 750px">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark" style="height: 100%">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            @*<img src="../../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="../../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />*@
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            @if(tenRap == null){
                                tenRap = "CGV Mangement";
                            }
                            @tenRap
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none"><i
                            class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-start me-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark"><i class="ti-search"></i></a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a
                                    class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-end">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" 
                            data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
                                <span style="font-size: 20px; color: white; padding: 15px">@userName</span>
                                <img src="~/images/hinh-anh-con-meo-cute3.jpg" alt="user" class="rounded-circle" width="31" style="margin-top: -10px" >
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                                <li>
                                     <a class="dropdown-item" asp-area="Admin" asp-controller="Account" asp-action="UpdateInfor"
                                     asp-route-id=""> 
                                    <i class="fas fa-sign-out-alt"></i>Cập nhật tài khoản
                                    </a>
                                </li>
                                <li>
                                     <a class="dropdown-item" asp-area="Admin" asp-controller="Account" asp-action="ChangePassword" 
                                     asp-route-email="@email">                               
                                    <i class="fas fa-sign-out-alt"></i>Đổi mật khẩu
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Account" asp-action="Logout">                               
                                    <i class="fas fa-sign-out-alt"></i>Đăng xuất
                                    </a>
                                </li>
                            </ul>
                            
                            </ul>
                            
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User Profile-->
                           @* @if (User.Identity.IsAuthenticated)
                            {
                              return RedirectToAction("Login", "Account")
                            }*@


                            @*@if (SignInManager.IsSignedIn(User))
                            {
                                <div class="user-profile d-flex no-block dropdown m-t-20">
                                    <div class="user-pic"><img src="~/images/hinh-anh-con-meo-cute3.jpg" alt="users"
                                        class="rounded-circle" width="40" /></div>
                                    <div class="user-content hide-menu m-l-10">

                                        <a  class="nav-link" asp-area="Admin" asp-page="/Account/Manage/Index" title="Manage">
                                            <h6 class="m-b-0 user-name font-medium" style="font-size:12px" >@user.UserName <i
                                                class="fa fa-angle-down"></i></h6>
                                            <span class="op-5 user-email">@User.FindFirstValue(ClaimTypes.Role)</span></a>
                                    </div>
                                </div>
                            }   
                        </li>*@
                        <li class="sidebar-item">
                              <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                              asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>
                                <span class="hide-menu m-l-5">DashBoard</span> </a>
                        </li>
                            @if (@roleName.Equals("Staff"))
                            {
                                <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="Ve" asp-action="Index">
                                    <i class="fa-solid fa-ticket"></i> <span class="hide-menu m-l-5">Quản lý vé</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                    asp-area="Admin" asp-controller="ThongKe" asp-action="IndexCumRap">
                                        <i class="fa fa-plus-square"></i>  <span class="hide-menu m-l-5">Thống kê doanh thu</span></a>
                                </li>
                            }                          
                            else if(@roleName.Equals("Manager")){
                                <li class="sidebar-item">
                                 
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="LichChieu" asp-action="Index">
                                       <i class="fa-solid fa-calendar-days"></i><span class="hide-menu m-l-5">Lịch chiếu</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="Rap" asp-action="Index">
                                        <i class="fa-solid fa-people-roof"></i> <span class="hide-menu m-l-5">Quản lý rạp</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="NhanVien" asp-action="Index">
                                    <i class="fa-solid fa-clipboard-user"></i> <span class="hide-menu m-l-5">Tài khoản nhân viên</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="ThongKe" asp-action="IndexCumRap">
                                    <i class="fa fa-plus-square"></i>  <span class="hide-menu m-l-5">Thống kê doanh thu</span></a>
                            </li>
                           
                            }
                            else
                            {
                                 <li class="sidebar-item">
                                 
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="Slider" asp-action="Index">
                                        <i class="fa-solid fa-images"></i> <span class="hide-menu m-l-5">Hình quảng cáo</span></a>
                            </li>
                                 <li class="sidebar-item">
                                 
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="TheLoai" asp-action="Index"><i
                                        class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Thể loại phim</span></a>
                            </li>
                            <li class="sidebar-item">
                                 
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="Phim" asp-action="Index">
                                       <i class="fa-solid fa-film"></i> <span class="hide-menu m-l-5">Phim</span></a>
                            </li>
                             <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="CanhBao" asp-action="Index">
                                    <i class="fa-solid fa-triangle-exclamation"></i> <span class="hide-menu m-l-5">Cảnh báo phim</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="CumRap" asp-action="Index">
                                    <i class="fa-solid fa-city"></i> <span class="hide-menu m-l-5">Quản lý cụm rạp</span></a>
                            </li>
                                 <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="CGVManager" asp-action="Index">
                                       <i class="fa-solid fa-id-badge"></i> <span class="hide-menu m-l-5">CGV Manager</span></a>
                            </li>

                            <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="ThongKe" asp-action="Index"><i
                                    class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Thống kê doanh thu</span></a>
                            </li>
                            }

                           
                            <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="KhachHang" asp-action="Index">
                                    <i class="fa-solid fa-user-group"></i><span class="hide-menu m-l-5">Quản lý khách hàng</span></a>
                                </li>
                       @* }*@
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper" style="min-height: 680px">
            <div class="container-fluid">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
   
  
    <script src="~/js/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.js"></script>
    
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/js/jsHelper.js"></script>
  <link rel="stylesheet" href="~/richtexteditor/rte_theme_default.css" />
  <script type="text/javascript" src="~/richtexteditor/rte.js"></script>
  <script type="text/javascript" src='~/richtexteditor/plugins/all_plugins.js'></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
  <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <link href="~/css/toastr.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            if ('@TempData["Success"]' != "") {
                toastr.success('@TempData["Success"]');
            }
            if ('@TempData["Error"]' != "") {
                toastr.error('@TempData["Error"]');
            }
        })
    </script>
    <script src="~/js/chart.js"></script>
  @RenderSection("Scripts", required: false)

</body>

</html>
