﻿@model ChangePassword

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Change Password";
}

<h1>Đổi mật khẩu</h1>
<hr />

<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword" class="form-control" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Email" class="form-control" />
    <button class="btn btn-primary" type="submit">Cập nhật</button>
</form>

