﻿@model LoginViewModel
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - CGV Manager</title>
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Login.css">

</head>
<body>
    <section class='login' id='login'>
        <div class='head'>
            <h1 class='company'>CGV Managerment</h1>
        </div>
        <p class='msg'>Welcome back</p>
        <div class='form'>
            @if (TempData["ErrorMesages"] != null)
            {
                <div class="alert text-danger">@TempData["ErrorMesages"]</div>
            }
            <form asp-area="Admin" asp-controller="Account" asp-action="Login">

                <input type="text" asp-for="Email" placeholder='Email' class='text' required><br>
                <input type="password" asp-for="Password" placeholder='Password' class='password' required><br>
                <button type="submit" class='btn-login' id='do-login'>Login</button>
                <a href="#" class='forgot'>Forgot?</a>
            </form>
        </div>
    </section>
    <footer>
        <p>Made with <span class='heart'>&hearts;</span> by LeThanhMy </p>
    </footer>
</body>
</html>



