﻿@model UpdateAccountViewModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "UpdateInfo";
}

<h1>Cập nhật thông tin tài khoản</h1>
<hr />
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">       
            @ViewBag.ErrorMessage       
    </div>
}
<div class="row">
    <div class="col-md-12">
       
        <form asp-area="Admin" asp-controller="Account" asp-action="UpdateInfor" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="form-label"></label>
                 <input type="text" asp-for="UserName" class="form-control" />
                 <span asp-validation-for="UserName" class="text-danger"></span>               
            </div>           
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
             <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>



